/* general */
/* generalMain */
.general-sec .general-admin-tab + .content-wrap{padding:24px 20px 32px;}
.general-sec .sell-ico-wrap.border{padding:0 20px;}
.general-sec .list-wrap.content-border{padding:0 20px;}
.general-sec .list-wrap.content-border .float-wrap.btn-s{margin:32px 0 16px;}
.general-sec .list-none-wrap{height:234px;}
/* general-admin-tab */
.general-admin-tab{width:100%;background-color:#3f64c3;padding:20px 5px;}
.general-admin-tab:after{content:'';display:block;clear:both;}
.general-admin-tab li{float:left;width:25%;font-size:14px;font-weight:500;text-align:center;color:#fff;}
.general-admin-tab li:last-child{margin-right:0;}
.general-admin-tab li span{display:block;width:48px;height:48px;line-height:48px;font-size:24px;font-weight:normal;text-align:center;color:#3f64c3;background:#fff;border-radius:100%;margin:0 auto;margin-bottom:8px;}

/* generalBuy01 */
.general-buy-sec .list-none-wrap{height:calc(100vh - 263px);}
.general-buy-sec a.f-area{display:block;width:100%;}

/* generalBuy04 */
.general-sell-sec .pay-detail li{border-bottom:0;}

/* generalSell01 */
.general-sell-sec .mypage-admin-title{padding:20px 20px 16px;}
.general-sell-sec .m-toggle-list.search{padding:0 20px;}
.general-sell-sec .list-wrap{padding:0 20px;}
.general-sell-sec .list-none-wrap{height:calc(100vh - 288px);}

/* generalSell_v01 */
.general-sell-sec .ask-tx{color:#222;}
.general-sell-sec .table-area{padding:0 20px;}
.general-sell-sec .m-toggle-list .pay-detail li .title{width:182px;}
.general-sell-sec .m-toggle-list + ul li{padding:16px 0;}
.general-sell-sec .m-toggle-list + ul li:first-child{border:0;padding-top:12px;}
.general-sell-sec .m-toggle-list + ul li .list-none{position:unset;transform:unset;width:100%;font-size:14px;text-align:center;color:#222;padding:25px 0;border:1px solid #e7e7e7;}
.general-sell-sec .m-toggle-list + ul li .float-wrap.btn-s{margin-bottom:12px;}
.general-sell-sec .m-toggle-list + ul li table .price-tp5{display:inline-block;margin-right:4px;}
.general-sell-sec .m-toggle-list > li > dl > dt > a span{color:#3f64c3;}
.general-sell-sec .m-toggle-list > li > dl > dd .dim-wrap{position:absolute;top:55px;left:-20px;width:120%;height:100%;text-align:center;color:#fff;background-color:rgba(0,0,0,0.7);}
.general-sell-sec .m-toggle-list > li > dl > dd .dim-wrap p{position:relative;top:50%;transform:translateY(-50%);line-height:1.4;}

/* generalSell_v02 */
.general-sell-sec > .admin-list-wrap{padding:4px 20px;}

/* generalSell_s01 */
.general-sell-sec .m-toggle-list .option-cate h3{font-size:14px;font-weight:normal;}
.general-sell-sec .m-toggle-list .option-cate .cate-ico{margin-bottom:24px;}
.general-sell-sec .m-toggle-list .option-cate .cate-list-view .cate-list-detail{border-bottom:none;}
.general-sell-sec .m-toggle-list .img-upload-wrap h4{font-size:14px;font-weight:normal;}
.general-sell-sec .m-toggle-list .img-upload-wrap h4 + p{display:none;}
.general-sell-sec .m-toggle-list .img-upload-wrap .img-upload.detail{margin:24px 0 4px;}
.general-sell-sec .m-toggle-list .btn-base:first-child{float:left;}
/*.general-sell-sec .stop-cover{top:274px;}*/

.bidding-inquiry{width:100%;overflow:hidden;}
.bidding-inquiry ul{padding:24px 0;border-bottom:1px solid #f2f2f2;}
.bidding-inquiry ul:after{content:'';display:block;clear:both;}
.bidding-inquiry li{float:left;width:33.33%;font-size:12px;text-align:center;color:#222}
.bidding-inquiry li p{margin-top:8px;}
.bidding-inquiry li p.time{font-size:22px;font-weight:500;margin-top:10px;}
.bidding-inquiry li p.time.none{line-height:1.3;font-size:12px;font-weight:normal;margin-top:7px;}

/* generalSell_s03Bid */
.general-sell-sec .bidding-inquiry{padding:0 20px;}
.general-sell-sec .list-none-wrap.tp2{height:calc(100vh - 443px);}

/* generalSell_s04Intro */
.general-sell-sec .seller-wrap{padding:20px 20px 3px;}
.general-sell-sec .seller-wrap .tx-wrap{height:128px;}
.general-sell-sec .seller-wrap .tx-wrap .tx-blue80{position:absolute;font-size:12px;bottom:0;}
.general-sell-sec .table-tp1 + .bidding-inquiry{border-bottom:1px solid #f2f2f2;}
.general-sell-sec .table-tp1 + .bidding-inquiry ul{border-bottom:none;padding:16px 0;}
/* introduce-wrap */
.introduce-wrap{width:100%;border:1px solid #e7e7e7;border-radius:3px;padding:16px;}
.introduce-wrap p{line-height:1.3;font-size:14px;color:#222;}
.introduce-wrap p span{display:block;margin-bottom:8px;}

.review-wrap{width:100%;}
.review-wrap .inquire-num{width:100%;font-size:12px;text-align:right;color:#222;}
.review-wrap .inquire-num > span{color:#3f64c3;}
.review-wrap .inner{border-bottom:1px solid #f2f2f2;padding:16px 0;}
.review-wrap .inner:after{content:'';display:block;clear:both;}
.review-wrap .inner p{font-size:15px;font-weight:500;color:#222;}
.review-wrap .inner .float-wrap{height:14px;line-height:14px;margin-top:11px;}
.review-wrap .inner .float-wrap li{float:left;font-size:12px;color:#777;border-left:1px solid #e7e7e7;padding-left:4px;margin-left:4px;}
.review-wrap .inner .float-wrap li:first-child{border:0;padding:0;margin:0;}
.review-wrap .inner .float-wrap .star{font-size:14px;font-weight:normal;}
.review-wrap .inner .float-wrap .star .ico-fill-star{position:relative;top:-1px;}
.review-wrap .inner > span{display:block;line-height:1.4;font-size:14px;color:#777;margin-top:16px;}
.review-wrap .img-cover{float:left;width:104px;height:78px;}
.review-wrap .summary{float:left;width:calc(100% - 104px);padding-left:16px;}
.review-wrap .summary .date{display:block;font-size:12px;color:#777;}
.review-wrap .summary .subject{width:100%;font-size:16px;font-weight:500;color:#222;margin-top:6px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.review-wrap .summary .info{width:100%;font-size:14px;color:#777;margin-top:6px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.review-wrap .summary a{display:block;font-size:12px;text-decoration:underline;color:#3f64c3;margin-top:8px;}

/* generalSell_s04Review */
.general-sell-sec.review > ul.date{width:100%;font-size:12px;letter-spacing:-0.52px;color:#777;}
.general-sell-sec.review > ul.date:after{content:'';display:block;clear:both;}
.general-sell-sec.review > ul.date li{float:left;}
.general-sell-sec.review > ul.date li.product{border-left:1px solid #e7e7e7;padding-left:4px;margin-left:4px;}
.general-sell-sec.review > ul.date + h3{margin:8px 0 16px;}
.general-sell-sec.review .slide-steps-wrap{padding:0;}
.general-sell-sec.review .slide-steps-wrap [class^="btn-"]{display:none;}
.general-sell-sec.review .slide-steps-wrap + .textarea-wrap{margin-top:32px;}

/* generalSell_s05Review */
.general-sell-sec.review{padding:20px;}
.general-sell-sec.review .img-hover{display:none;}
.general-sell-sec.review .goods-list.list-type li > span .summary{padding:16px;}
.general-sell-sec.review .goods-list.list-type li > span .summary .info-wrap{margin-top:8px;}
.general-sell-sec.review .goods-list.list-type li > span .summary .info-wrap .info span{font-size:12px;line-height:1.2;}
.general-sell-sec.review .goods-list.list-type li > span .summary .price-wrap{margin-top:20px;}

.general-sell-sec.review .bidding-inquiry{width:100%;padding:4px 0;}
.general-sell-sec.review .bidding-inquiry > ul{width:100%;border:none;padding:0;}
.general-sell-sec.review .bidding-inquiry > ul:after{content:'';display:block;clear:both;}
.general-sell-sec.review .bidding-inquiry > ul > li{float:left;width:50%;}
.general-sell-sec.review .bidding-inquiry .tx-exp-tp3{padding-top:8px;border-top:1px solid #f2f2f2;margin-top:16px;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap{position:relative;padding:17px 14px;border:1px solid #f2f2f2;margin-top:24px;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap:after{content:'';display:block;clear:both;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .img-cover{float:left;width:66px;height:66px;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .tx-wrap{float:left;width:calc(100% - 66px);border:none;padding:0 0 0 12px;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .tx-wrap li{width:100%;font-size:12px;text-align:left;color:#777;margin-bottom:3px;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .tx-wrap li:last-child{margin:0;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .tx-wrap li.dealer{font-size:14px;color:#222;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .tx-wrap li.num{font-size:14px;color:#222;margin-bottom:8px;}
.general-sell-sec.review .bidding-inquiry .dealer-wrap .btn-base{position:absolute;top:16px;right:16px;}

.review-input-wrap{width:100%;}
.review-input-wrap ul > li{font-size:14px;color:#222;padding-top:24px;}
.review-input-wrap ul > li > span{display:block;margin-top:16px;}
.review-input-wrap ul > li > span .border-star{width:30px;height:28px;background-size:cover;}
.review-input-wrap ul > li > span .border-star.full .fill-star{width:30px;height:28px;background-size:cover;}
.review-input-wrap ul > li > span em{display:none;}
.review-input-wrap ul > li .textarea-wrap{margin-top:8px;}

/* generalSell_n03Check */
.general-sell-sec.check .bidding-inquiry > ul{padding:24px 0 16px;}
.general-sell-sec.check .bidding-inquiry > ul > li{float:left;width:50%;}
.general-sell-sec.check .bidding-inquiry .tx-exp-tp3{padding-top:8px;}
.general-sell-sec .list-none-wrap.tp3{height:calc(100vh - 461px);}

/* mypage-admin-title */
.mypage-admin-title{width:100%;}
.mypage-admin-title p{line-height:1.5;color:#777;margin:0;text-indent:-14px;padding-left:13px;}

/* mapage member */
.member-pw-wrap .member-pw label{display:block;margin:24px 0 8px 0;color:#222;}

/* leaveLastMb */
.tit1 + .tx-tit + ul.notice li{position:unset;padding:16px 0;background:none;}
.tit1 + .tx-tit + ul.notice li p{font-weight:500;color:#222;}
.tit1 + .tx-tit + ul.notice li p span{display:block;font-weight:normal;line-height:1.4;letter-spacing:normal;color:#777;word-break:keep-all;margin-top:8px;}

/* pay-detail */
.m-toggle-list .pay-detail li{width:100%;border:0;padding:0;}
.m-toggle-list .pay-detail li:after{content:'';display:block;width:100%;height:7px;background:url(/images/mobile/ico/ico-toggle.svg) no-repeat center top;margin:16px 0;}
.m-toggle-list .pay-detail li:last-child:after{display:none;}
.m-toggle-list .pay-detail li .title{display:block;width:120px;height:32px;line-height:32px;font-size:14px;text-align:center;border-radius:20px;background:#f6f7f8;margin:0 auto;}
.m-toggle-list .pay-detail li .sub{display:block;font-size:12px;text-align:center;line-height:1.33;margin-top:9px;}

.pay-detail li{padding:13px 0 21px 0;border-bottom:1px solid #f2f2f2;}
.pay-detail li:last-child{border:0;}
.pay-detail li table{margin-top:12px;}
.pay-detail li table tbody tr td{word-break:keep-all;}
.pay-detail li table tbody tr td span{display:block;font-size:12px;}

.progress-wrap{width:100%;background:#f6f7f8;padding:20px;}
.progress-wrap p.tit{font-size:14px;color:#222;}
.progress-wrap p.tit + p{line-height:1.4;font-size:12px;color:#777;margin-top:10px;}
.progress-wrap .input-file-wrap{display:inline-block;width:78.8%;margin-top:16px;}
.progress-wrap .input-file-wrap + .btn-base{display:inline-block;}
























/* dealer */
/* dealerMain */
.mypage-profile .float-wrap p{display:inline-block;font-size:14px;color:#222;margin-left:8px;}
.mypage-profile .float-wrap .notice{float:left;}
.mypage-profile .float-wrap .notice .btn-base{padding:0 8px;}
.mypage-profile .float-wrap ul.tag{float:right;}
.mypage-profile .float-wrap ul.tag:after{content:'';display:block;clear:both;}
.mypage-profile .float-wrap ul.tag li{float:left;width:32px;height:32px;line-height:32px;font-size:12px;color:#fff;text-align:center;border-radius:100%;margin-left:4px;}
.mypage-profile .float-wrap ul.tag li:first-child{margin:0;}
.mypage-nav-sec + .step-btn{padding:0 20px;}
/* register-admin-wrap */
.register-admin-wrap{background:#f6f7f8;padding:14px 20px 0;}
.register-admin-wrap .float-wrap > .tit2 span{display:inline-block;line-height:30px;font-size:12px;font-weight:normal;margin-left:8px;}
.register-admin-tab{width:100%;padding:20px 0;}
.register-admin-tab:after{content:'';display:block;clear:both;}
.register-admin-tab li{float:left;width:33.33%;text-align:center;font-size:14px;font-weight:500;border-right:1px solid #e4e5e6;}
.register-admin-tab li:last-child{border:0;}
.register-admin-tab li span{display:inline-block;width:100%;font-size:28px;margin-bottom:6px;}
.register-admin-tab li.state-green{color:#9ac504;}
.register-admin-tab li.state-blue{color:#95abe3;}
.register-admin-tab li.state-gray{color:#858b98;}
/* payment-admin-wrap */
.payment-admin-wrap{overflow:hidden;padding:20px 0;}
.payment-admin-wrap .float-wrap{margin:0 20px;}
.payment-admin-wrap .voucher-slide{margin-top:10px;height:120px;opacity:0;transition:opacity .3s;overflow:hidden;padding:0 20px;}
.payment-admin-wrap .voucher-slide.active{opacity:1;overflow:inherit;}
.payment-admin-wrap .slick-list{overflow:inherit;}
.payment-admin-wrap .slick-slide{width:105px;margin-right:8px;}
.payment-admin-wrap .slick-slide:last-child{margin-right:0;}
.payment-admin-wrap div{outline:none;}
.payment-admin-wrap .voucher-area{position:relative;height:120px;text-align:center;border:1px solid #aaa;border-radius:3px;border-bottom-right-radius:23px;box-shadow:1px 1px 0 0 #e7e7e7;background:#f6f7f8;padding:16px 18px 24px;}
.payment-admin-wrap .voucher-area > p{font-size:12px;font-weight:500;color:#222;margin-bottom:6px;}
.payment-admin-wrap .voucher-area > .cont-wrap{position:relative;height:57px;}
.payment-admin-wrap .voucher-area > .cont-wrap > .cont{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:fit-content;}
.payment-admin-wrap .voucher-area > .cont-wrap > .cont > span{display:block;font-size:14px;color:#222;}
.payment-admin-wrap .voucher-area > .cont-wrap > .cont > span > em{color:#3f64c3;}
.payment-admin-wrap .voucher-area > .cont-wrap > .cont > em{display:block;font-size:12px;color:#222;margin-top:3px;}
.payment-admin-wrap .voucher-area > .cont-wrap > .cont > .btn-base{margin:0 auto;margin-top:4px;}
.payment-admin-wrap .voucher-area > span.date{position:absolute;left:0;bottom:0;display:block;font-size:12px;color:#fff;padding:5px;background:#3f64c3;}
/* step-cover */
.stop-cover{position:fixed;top:50%;left:50%;width:88%;border-radius:8px;background-color:#3f64c3;padding:24px 0;transform:translate(-50%, -50%);box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);z-index:1;}
.stop-cover .popup-close{position:absolute;top:12px;right:12px;width:12px;height:12px;background:url(/images/mobile/ico/ico-close-white.svg) no-repeat;}
.stop-cover .chk-box{position:absolute;bottom:12px;left:12px;}
.stop-cover .chk-box input + label{color:#fff;}
.stop-cover p{line-height:1.6;text-align:center;color:#fff;}
.stop-cover p .ex{display:block;font-size:12px;margin-top:6px;}
.stop-cover p + .float-tx{width:fit-content;font-size:12px;line-height:1.6;color:#fff;margin:22px auto 0;}
.stop-cover p + .float-tx em{display:inline-block;width:58px;font-weight:500;vertical-align:top;margin-right:8px;}
.stop-cover p + .float-tx span{display:inline-block;}

/* dealeNote */
.mypage-admin-title + .list-none-wrap{height:calc(100vh - 200px);}

/* dealeNoteDetail */
.dealer-chat-wrap .bg-blue80{text-align:center;color:#fff;padding:16px 0;}
.dealer-chat-wrap .bg-blue80 span{display:block;margin-top:4px;}

/* pointCuponHistory */
.point-coupon-current{width:100%;padding:16px 20px;background:#f6f7f8;}
.point-coupon-current .tit{font-size:12px;color:#222;}
.point-coupon-current .float-wrap p{font-size:24px;font-weight:500;color:#3f64c3;}
.point-coupon-current .float-wrap p.tx-exp-tp4{font-size:12px;color:#777;}
.point-coupon-current .float-wrap p.tx-exp-tp4 > span:before{content:'';display:inline-block;width:1px;height:9px;background:#e7e7e7;margin:0 4px;}
.point-coupon-current .float-wrap p:first-child > span{display:inline-block;font-size:14px;margin-left:2px;}
.point-coupon-current + .m-toggle-list.search{padding:20px 20px 0;}
.point-coupon-current + .m-toggle-list.search + .list-none-wrap{height:calc(100vh - 328px);}
.point-tx-list{width:100%;}
.point-tx-list > li{width:100%;font-size:12px;color:#777;border-bottom:1px solid #f2f2f2;padding:24px 20px;}
.point-tx-list > li:last-child{border:0;}
.point-tx-list > li .float-wrap .state{color:#222;}
.point-tx-list > li .float-wrap .tit{font-size:14px;color:#222;margin-top:8px}
.point-tx-list > li .float-wrap .tit span{font-weight:bold;}
.point-tx-list > li .float-wrap .point{font-size:16px;font-weight:500;color:#aaa;margin-top:8px;}
.point-tx-list > li .float-wrap .point.on{color:#3f64c3;}
.point-tx-list > li .float-wrap .point span{display:inline-block;font-size:12px;margin-left:1px;}

.point-coupon-current + .tabmenu.tp1 > .ui-tab{padding:20px;}
.point-coupon-current + .tabmenu.tp1 > .ui-panel .list-none-wrap{height:calc(100vh - 399px);}
.point-coupon-current + .tabmenu.tp1 > .ui-panel .list-none-wrap.tp2{height:calc(100vh - 300px);}
.popup-coupon{padding:4px 20px 24px;}
.popup-coupon > label{display:block;font-size:14px;color:#222;margin-bottom:8px;}
.popup-coupon + .list-none-wrap{height:120px;}
.coupon-area.mypage{padding:4px 20px 0;border-top:10px solid #f6f7f8;}
.coupon-area.mypage .coupon-wrap{padding-top:0;}
.coupon-area.mypage .coupon-wrap li{height:106px;padding-top:16px;background:none;}
.coupon-area.mypage .coupon-wrap li p{font-weight:500;}
.coupon-area.mypage.inner{border-top:none;padding:20px 20px 0;}
.coupon-area.mypage.inner .coupon-wrap{padding:8px 0 4px;}

/* carManagement */
/* register-admin-sec */
.register-admin-sec{border-top:10px solid #f2f2f2;padding:20px 20px 0;}
.register-admin-sec .list-none-wrap{height:calc(100vh - 310px);}
/* popup-declare */
.popup-declare .admin-list-wrap li{padding-top:25px;border-bottom:1px solid #f2f2f2;}
.popup-declare .goods-list.admin-list.tp4 > ul > li .img-cover{height:96px;}
.popup-declare .sell-declare{padding-top:13px;}
.popup-declare .sell-declare .bridge2 > p{float:left;width:22%;height:28px;line-height:28px;vertical-align:middle;}
.popup-declare .sell-declare .bridge2 > ul{float:left;width:78%;}
.popup-declare .sell-declare .bridge2 > ul li{width:30%;}
.popup-declare .sell-declare label{display:inline-block;width:32%;}
.popup-declare .sell-declare span.tx-exp-tp5{text-indent:0;padding-left:0;margin-top:17px;}
.popup-declare .sell-declare > p.label{display:inline-block;width:32%;}
/* time-update */
.time-update{background:#f6f7f8;padding:12px 20px;}
.time-picker-area{padding:24px 20px;}
.time-picker-area p{line-height:1.4;font-size:16px;color:#222;text-align:center;}
.time-picker-area .m-toggle-list.time-picker{margin-top:24px;}

.save-box-pop{width:100%;}
.save-box-pop ul > li{padding:13px 20px;border:1px solid #e7e7e7;margin-top:16px;}
.save-box-pop ul > li:first-child{margin-top:24px;}
.save-box-pop ul > li .box-item{margin-top:14px;padding-left:29px;}
.save-box-pop ul > li .box-item .time-info{display:inline-block;width:16.66%;height:20px;line-height:20px;font-size:14px;color:#777;}
.save-box-pop .list-none-wrap{height:427px;}
/* point-area */
.point-area > .radio-group.border > li .radio-basic{width:40%;}
.point-area > .radio-group.border > li .radio-basic + span{font-size:12px;color:#777;}
.point-area > .radio-group.border + table tr{height:50px;}
/* update-manage-sec */
.update-manage-sec > .float-wrap{font-size:12px;color:#222;background:#f6f7f8;padding:16px 20px;}
.update-manage-sec > .float-wrap ul li{float:left;}
.update-manage-sec > .float-wrap ul li.day{color:#3f64c3;border-right:1px solid #e7e7e7;padding-right:4px;margin-right:4px;}
.update-manage-sec > .float-wrap ul li.state{color:#777;}

.update-manage-sec .tabmenu{padding:20px;}
.update-manage-sec .tabmenu .ui-tab{margin-bottom:16px;}

/* notice */
ul.notice.v-2 li{border:1px solid #e7e7e7; border-radius:3px;padding:16px;background-position:right 20px center;margin-top:8px;}
ul.notice.v-2 li > a > p{font-weight:500;width:calc(100% - 32px);}
ul.notice.v-2 li > a > p span{font-size:14px;color:#777;line-height:normal;font-weight:400;margin-top:5px;}
ul.notice.v-2 li > a > span{position:relative;display:inline-block;margin-top:8px;font-size:12px;line-height:1.17px;color:#777;line-height:normal;padding-left:9px;}
ul.notice.v-2 li > a > span:before{content:'';position:absolute;width:1px;height:11px;background:#e7e77e;top:4px;left:4px;}
ul.notice.v-2 li > a > p + span{padding-left:0;}
ul.notice.v-2 li > a > p + span:before{content:none;}
ul.notice.v-2 li > a > em{display:none;}

/* payment-sec */
.payment-sec > li{padding:20px 0;border-bottom:1px solid #f2f2f2;}
.payment-sec > li:last-child{border:0;}
.payment-sec > li table.use tr > td{position:relative;}
.payment-sec > li table.use tr > td > span span.date{position:absolute;top:8px;right:0;display:block;font-size:10px;color:#fff;border-radius:3px;padding:4px 8px;background:#3f64c3;}
.payment-sec > li table.use tr > td > span.btn-base{display:block;margin-top:3px;}

.payment-sec > li ul.tx-list{width:100%;}
.payment-sec > li ul.tx-list > li{width:100%;border:1px solid #f2f2f2;border-radius:3px;padding:24px 16px;margin-top:8px;}
.payment-sec > li ul.tx-list > li:first-child{margin:0;}
.payment-sec > li ul.tx-list > li h5{font-size:16px;font-weight:500;color:#222;}
.payment-sec > li ul.tx-list > li p{width:100%;line-height:1.4;font-size:14px;color:#777;margin-top:16px;}
.payment-sec > li ul.tx-list > li div{text-align:right;}
.payment-sec > li ul.tx-list > li div span.period{font-size:12px;color:#222;}
.payment-sec > li ul.tx-list > li div span.price{display:inline-block;font-size:22px;font-weight:500;color:#3f64c3;margin:12px 0 0 8px;}
.payment-sec > li ul.tx-list > li div span.price .won{display:inlin-block;font-size:14px;color:#777;margin-left:3px;}
.payment-sec > li ul.tx-list > li > ul{width:100%;margin-top:16px;}
.payment-sec > li ul.tx-list > li > ul > li{line-height:1.2;font-size:12px;color:#777;margin-top:8px;text-indent:-7px;padding-left:8px;}
.payment-sec > li ul.tx-list > li > ul > li:first-child{margin:0;}

/* usage-wrap */
.usage-wrap > h5:first-child{margin-top:20px;}
.usage-wrap > h5{font-size:16px;font-weight:500;color:#222;margin-top:32px;}
.usage-wrap .float-wrap{margin-top:16px;}
.usage-wrap .float-wrap p{font-size:14px;color:#222;}
.usage-wrap .float-wrap span{font-size:12px;font-weight:400;color:#aaa;}
.usage-wrap table > thead > tr > th{font-size:13px;line-height:1.3;}
.usage-wrap table > tbody > tr > td{font-size:12px;padding:0;}
.usage-wrap table > tbody.td-r > tr > td{text-align:right;padding:12px 4px;}
.usage-wrap table > tbody.td-r.td-c > tr > td:first-child{text-align:center;}
.usage-wrap table .radio-basic{display:block;width:100%;height:100%;}
.usage-wrap table .radio-basic.txt input + label{font-size:12px;padding:8px 4px;text-align:right;}
.usage-wrap table .radio-basic.txt.disabled input + label{color:#999;background:#fdfdfd;cursor:default;}
.usage-wrap table .radio-basic.txt.on input + label{color:#fff;}

/* payment-tx-list */
/* .payment-tx-list{padding:14px 20px 0;} */
.payment-tx-list .m-toggle-list.search{padding:0 20px;}
.payment-tx-list .eposit-tx-list{padding:0 20px;}

/* eposit-tx-list */
.eposit-tx-list{width:100%;}
.eposit-tx-list > .float-wrap span{font-size:12px;}

/* pay-tx-list */
.pay-tx-list{width:100%;}
.pay-tx-list.border{border-bottom:1px solid #f2f2f2;}
.pay-tx-list li{font-size:12px;color:#222;margin-top:9px;}
.pay-tx-list > li{border-bottom:1px solid #f2f2f2;padding:20px 0;margin:0;}
.pay-tx-list > li:last-child{border-bottom:0;}
.pay-tx-list > li .float-wrap{margin-bottom:6px;}
.pay-tx-list > li p{font-size:14px;font-weight:500;color:#222;}
.pay-tx-list > li :first-child{margin-top:0;}
.pay-tx-list > li span{display:inline-block;width:71px;font-weight:normal;color:#777;}
.pay-tx-list.arrow > li{background:url(/images/mobile/ico/ico-next-black.svg) no-repeat right top 21px;}
.pay-tx-list.arrow > li a{display:block;width:100%;height:100%;}

/* dealer-adeffect-sec */
.dealer-adeffect-sec{padding:20px;}
.dealer-adeffect-sec .admin-list-wrap > li:first-child{padding-top:0;}
.dealer-adeffect-sec .admin-list-wrap .price-wrap.float-wrap a{font-size:12px;color:#3f64c3;text-decoration:underline;margin-top:15px;}
.dealer-adeffect-sec .list-none-wrap{height:calc(100vh - 252px);}
.dealer-adeffect-sec .list-none-wrap .list-none span{display:block;font-size:12px;color:#777;line-height:1.6;margin-top:16px;}

.dealer-adeffect-sec.pb0 .admin-list-wrap > li:first-child{padding-bottom:4px;}
.dealer-adeffect-sec.pb0 + .tabmenu-swipe .rc-tabs-top .rc-tabs-content-animated .rc-tabs-tabpane{padding:16px 20px 0;}
.dealer-adeffect-sec.pb0 + .tabmenu-swipe .table-tp1 tbody tr td:last-child{text-align:right;padding-right:6.5%;}
.dealer-adeffect-sec.pb0 + .tabmenu-swipe .table-tp1 [class^="ico-triangle"]{margin-left:3px;}
.dealer-adeffect-sec.pb0 + .tabmenu-swipe .list-none-wrap{height:calc(100vh - 332px);}

/* dealerSell02_01 */
.dealer-register-form .option-cate h4{display:block;}
.car-inquire-sec > p{width:100%;font-size:16px;font-weight:500;color:#222;text-align:center;background:#f6f7f8;padding:80px 0;margin-bottom:32px;}
.car-inquire-sec .car-inquire-wrap{padding:0 20px;}
.car-inquire-sec .car-inquire-wrap .input-base{margin-top:10px;}
.car-inquire-sec .car-inquire-wrap .tx-sub{margin-top:8px;}
.ask-tx{width:100%;line-height:1.4;font-size:14px;color:#777;text-align:center;background:#f6f7f8;padding:25px 0;}

/* registerCarPerformance */
.accident-history-cont ul.radio-block.tp4 li{width:33.33%;}
.accident-history-cont ul.radio-block.tp4.col3 li .radio-basic input + label{font-size:14px;}

/* registerCarIntroducing */
.dealer-register-form.steps-pb .steps-stick p{padding-bottom:8px;}
/* info-modify */
.info-modify{width:100%;}
.info-modify .market-price-graph img{padding-top:20px;}
.info-modify .market-price-graph + .register-form fieldset{border-top:1px solid #f2f2f2;}
.info-modify .register-sell-price{padding:9px 0;}
.info-modify .register-sell-price h4{font-size:16px;font-weight:500;color:#222;}
.info-modify .register-sell-price .input-base{position:relative;}
.info-modify .register-sell-price .input-base input{text-align:right;font-size:20px;font-weight:500;color:#3f64c3;padding-right:24px;}
.info-modify .register-sell-price .input-base:after{position:absolute;top:16px;right:12px;content:'원';display:inline-block;font-size:12px;color:#777;}
.info-modify .register-exposure h4{font-size:16px;font-weight:500;color:#222;}
.info-modify .used-car-summary-apply{padding:20px 20px 0;}
.info-modify .option-cate h3, .info-modify .option-add h3{font-size:14px;font-weight:normal;}
.info-modify .option-add .input-base{padding-bottom:0;}

/* registerCarPhoto */
.dealer-register-form .img-upload-wrap h4{display:inline-block;width:auto;}
.dealer-register-form .img-upload-wrap h4 + ul{display:block;width:auto;}
.dealer-register-form .img-upload-wrap h4 + p{display:inline-block;}

/* registerCarProdSelection */
.reserve-wrap.payment-sec.method h3{padding:20px 20px 12px;}
.reserve-wrap.payment-sec.method .coupon-wrap{padding:24px 20px;}
.reserve-wrap.payment-sec.method ul.check-select-list{margin-top:24px;}

/* carDescription */
.my-ex-admin .mypage-admin-title{margin:20px 0;}
/* chk-list-wrap.tp2 */
ul.chk-list-wrap.tp2 li{position:relative;background-position:top 16px left 18px;}
ul.chk-list-wrap.tp2 li:after{position:absolute;top:29.5px;right:13px;content:'';display:block;width:16px;height:16px;background:url(/images/mobile/ico/ico-arrow-gray.svg) no-repeat;}
ul.chk-list-wrap.tp2 li.on{background-position:top 16px left 18px;}
ul.chk-list-wrap.tp2 li.on:after{position:absolute;top:29.5px;right:13px;content:'';display:block;width:16px;height:16px;background:url(/images/mobile/ico/ico-arrow-white.svg) no-repeat;}
ul.chk-list-wrap.tp2 li .tit4{width:90%;height:auto;padding-left:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
ul.chk-list-wrap.tp2 li .info{margin-top:8px;padding-left:24px;}
ul.chk-list-wrap.tp2 li .info span{font-weight:normal;}
ul.chk-list-wrap.tp2 li a{position:absolute;top:0;right:0;width:13%;height:100%;z-index:1;}

/* dealerSell05 */
.dealer-assure-sec .m-toggle-list.none > li{padding:0;}
.dealer-assure-sec .list-none-wrap{height:calc(100vh - 278px);}

/* dealerSell05_03 */
/* register-form - car-name */
.register-form p.car-name{width:100%;font-size:14px;color:#fff;background:#3f64c3 url(/images/mobile/ico/ico-arrow-big-white.svg) no-repeat right 16px center;background-size:20px 20px;padding:24px 20px;}
.register-form p.car-name span{display:block;font-size:16px;font-weight:500;color:#fff;margin-top:8px;}
.register-form + .content-wrap .m-toggle-list h3{font-size:14px;font-weight:normal;}
.register-form + .content-wrap .m-toggle-list .option-cate .cate-ico{margin-bottom:24px;}
.register-form + .content-wrap .m-toggle-list .option-cate .cate-list-chk{border-bottom:1px solid #f2f2f2;margin-bottom:24px;}
.register-form + .content-wrap .m-toggle-list .option-add .input-base{padding-bottom:0;}
.steps-stick + .co-sec{height:calc(100vh - 220px);}
/* table.ew */
table.ew tr{height:53px;}
/* co-wrap */
.co-sec .co-wrap{position:relative;top:50%;left:50%;transform:translate(-50%,-50%);width:fit-content;line-height:1.4;text-align:center;}
.co-sec .co-wrap p.tit{font-size:16px;font-weight:500;color:#222;}
.co-sec .co-wrap p.exp{font-size:14px;color:#777;margin-top:6px;}

/* dealerSell06 */
/* live-studio */
.dealer-live-sec .top-banner{padding:57px 20px 132px;margin-top:-57px;background:#3f64c3 url(/images/mobile/contents/mypage-live-picto-01.svg)no-repeat bottom -50px right 0px;}
.dealer-live-sec .top-banner h3{line-height:1.29;}
.dealer-live-sec.info .top-banner{padding:27px 25px 25px;margin-top:0;background:#3f64c3 url(/images/mobile/contents/mypage-live-picto-02.svg)no-repeat top 0px right 10px;}
.dealer-live-sec.info .top-banner p{font-size:16px;font-weight:normal;line-height:1.4;margin-top:0;}

.live-sec{padding:32px 20px;}
.live-sec > p{line-height:1.4;margin:8px 0;}
.live-sec > a{color:#3f64c3;text-decoration:underline;}
.live-sec .tx-list li{border:solid 1px #e7e7e7;margin-top:16px;}
.live-sec .tx-list li:first-child{margin-top:24px;}
.live-sec .tx-list li .img-wrap{position:unset;width:100%;height:188px;}
.live-sec .tx-list li .summary{padding:16px 16px 20px;}
.live-sec .tx-list li .summary p{line-height:1.4;color:#777;margin-top:8px;}
.live-sec + .content-sec{text-align:center;padding:24px 0;}
.live-sec + .content-sec p.tit3{line-height:1.4;margin-top:8px;}

.dealer-live-sec .mypage-admin-title .tx-exp-tp5{position:relative;}
.dealer-live-sec .mypage-admin-title .tx-exp-tp5 .btn-base{position:absolute;top:12px;text-decoration:underline;}
.dealer-live-sec .m-toggle-list.search .table-tp3 .btn-base{width:31.66% !important;}
.dealer-live-sec .m-toggle-list.search .table-tp3 + .btn-wrap{border-top:1px solid #f2f2f2;padding-top:16px;margin-top:16px;}
.dealer-live-sec .m-toggle-list.search.none > li:last-child{display:none;}
.dealer-live-sec + .content-wrap .list-none-wrap{height:calc(100vh - 335px);}

.dealer-live-sec.info .info-wrap p{margin:22px 0 8px;}
.dealer-live-sec.info .info-wrap .img-wrap{width:100%;height:188px;background:#f6f7f8;margin-top:16px;}
.dealer-live-sec.info .info-wrap .img-wrap:last-child{margin-bottom:0;}
.dealer-live-sec.info .info-wrap .info-cont{padding:24px 20px;}
.dealer-live-sec.info [class^="table-tp"] > tbody > tr > td{color:#777;line-height:1.3;}

.dealer-live-sec.info ul.info-use-step:after{content:'';display:block;clear:both;}
.dealer-live-sec.info ul.info-use-step li{position:relative;width:100%;height:80px;margin-bottom:16px;}
.dealer-live-sec.info ul.info-use-step li:last-child{margin-bottom:0;}
.dealer-live-sec.info ul.info-use-step li span{float:left;display:block;}
.dealer-live-sec.info ul.info-use-step li span.ico{width:80px;height:80px;background:#d8d8d8;}
.dealer-live-sec.info ul.info-use-step li span.tit{width:calc(100% - 80px);position:relative;top:50%;transform:translate(0, -50%);font-size:14px;color:#222;letter-spacing:normal;text-align:left;line-height:1.3;padding-left:16px;}
.dealer-live-sec.info ul.info-use-step li span.tit em{display:block;font-weight:500;margin-bottom:8px;}

.dealer-live-sec.info ul.tb-essential{padding:4px 0;}
.dealer-live-sec.info ul.tb-essential li{margin-bottom:16px;}
.dealer-live-sec.info ul.tb-essential li:last-child{margin-bottom:0;}
.dealer-live-sec.info ul.tb-essential li span{display:inline-block;vertical-align:middle;}
.dealer-live-sec.info ul.tb-essential li .tit{width:33%;}

.dealer-live-sec.info .essential-point.border{padding:16px 12px;border:solid 1px #e7e7e7;margin-top:16px;}
.dealer-live-sec.info .essential-point.border li{font-size:12px;color:#222;margin-bottom:6px;}
.dealer-live-sec.info .essential-point.border li:last-child{margin-bottom:0;}
.dealer-live-sec.info .essential-point.border li h3{font-size:12px;margin-bottom:6px;}

/* live-refund-sec */
.live-refund-sec .mypage-admin-title{padding:20px 20px 0;}
.live-refund-sec .ui-panel{padding:0 20px;}

/* reserve-wrap */
.reserve-wrap .branch{padding:24px 20px;background:#f6f7f8;}
.reserve-wrap .branch.essential-point li{line-height:0.8;}
.reserve-wrap table tbody tr td .radio-basic{width:35px;height:24px;border:1px solid #e7e7e7;border-radius:3px;background:#fff;}
.reserve-wrap table tbody tr td .radio-basic.txt input + label{width:100%;height:100%;line-height:24px;font-size:10px;font-weight:500;color:#777;border-radius:3px;padding:0;}
.reserve-wrap table tbody tr td .radio-basic.txt.on input + label{color:#fff;}
.reserve-wrap .essential-point{margin-top:24px;}

/* popup-refund */
.popup-refund p.tit3{margin-top:26px;}
.popup-refund p.tit3:first-child{margin-top:24px;}
.popup-refund p.tit3 i{background:#222;}
.popup-refund table tr td{font-size:12px;}

/* dealerSell06Studio01 */
.live-reserve-sec .check-list-wrap .check-select-list{margin-top:20px;}
.live-reserve-sec .check-list-wrap .float-wrap{display:none;}

/* dealerSell06Studio02 */
.payment-sec.method .pick-list{width:100%;padding:15px 20px;background:#f6f7f8;}
.payment-sec.method .pick-list:after{content:'';display:block;clear:both;}
.payment-sec.method .pick-list p{float:left;font-size:16px;font-weight:500;color:#222;}
.payment-sec.method .pick-list p.price{float:right;}
.payment-sec.method .pick-list p.price span{font-size:14px;}
.payment-sec.method .coupon-wrap{width:100%;padding:16px 20px;}
.payment-sec.method .coupon-wrap > p{font-size:14px;font-weight:500;color:#222;}
.payment-sec.method .coupon-wrap > p > span{display:block;font-size:12px;font-weight:normal;color:#777;margin-top:8px;}
.payment-sec.method .coupon-wrap > ul{width:100%;}
.payment-sec.method .coupon-wrap > ul > li{margin-top:16px;}
.payment-sec.method .coupon-wrap > ul > li .radio-group{display:inline-block;width:fit-content;margin-right:3px;}
.payment-sec.method .coupon-wrap > ul > li .input-base{margin-top:8px;}
.payment-sec.method .coupon-wrap > ul > li > p{display:inline-block;font-size:12px;color:#777;}
.payment-sec.method .coupon-wrap > ul > li > p > span{color:#3f64c3;}
.payment-sec.method .coupon-wrap > p.ex{font-size:12px;color:#777;margin-top:8px;}

.payment-sec.method .last-sum{padding:15px 0;margin:0 20px;border-top:1px solid #f2f2f2;}
.payment-sec.method .last-sum:after{content:'';display:block;clear:both;}
.payment-sec.method .last-sum p{float:left;font-size:14px;font-weight:500;margin-top:3px;}
.payment-sec.method .last-sum p span{font-size:12px;font-weight:normal;}
.payment-sec.method .last-sum p.price{float:right;font-size:20px;font-weight:500;color:#3f64c3;margin:0;}
.payment-sec.method .last-sum p.price span{position:relative;bottom:1px;font-size:14px;color:#777;margin-left:3px;}
.payment-sec.method .exp{line-height:1.3;font-size:12px;color:#777;padding:16px;background:#f6f7f8;margin:16px 20px;}
.payment-sec.method .exp span{display:block;color:#ff0000;margin-top:8px;}

.payment-sec.method .method-wrap{padding:24px 20px 20px;border-top:10px solid #f6f7f8;}
.payment-sec.method .method-wrap > p{margin:24px 0 8px 0;}
.payment-sec.method .method-wrap .radio-block.method li{width:100%;margin-top:2%;}
.payment-sec.method .method-wrap .radio-block.method li:first-child{margin-top:0;}
.payment-sec.method .method-wrap .radio-block.method li .radio-basic.txt input + label{font-size:12px;padding:9px 0;}
.payment-sec.method .method-wrap .radio-block.proof li{width:49%;}
.payment-sec.method .method-wrap .radio-block.proof li .radio-basic.txt input + label{font-size:12px;padding:9px 0;}

.payment-sec.method .usage-wrap{width:100%;}
.payment-sec.method .usage-wrap > li:first-child{margin:0;}
.payment-sec.method .usage-wrap > li{border-radius:3px;border:1px solid #f2f2f2;padding:21px 16px;background:#fff;margin-top:8px;}
.payment-sec.method .usage-wrap > li > .float-wrap{margin:0;}
.payment-sec.method .usage-wrap > li > .float-wrap > p{font-size:16px;font-weight:500;color:#222;}
.payment-sec.method .usage-wrap > li > .price-wrap{margin-top:12px;}
.payment-sec.method .usage-wrap > li > .price-wrap > p{display:inline-block;}
.payment-sec.method .usage-wrap > li > .price-wrap .period{font-size:12px;color:#777;margin-left:12px;}
.payment-sec.method .usage-wrap > li > .price-wrap .period > span{border-left:1px solid #e7e7e7;padding-left:6px;margin-left:6px;}
.payment-sec.method .usage-wrap > li > p{line-height:1.4;font-size:14px;color:#222;margin-top:8px;}
.payment-sec.method .usage-wrap > li > p ~ .tx-tp3{font-size:12px;color:#777;padding-left:8px;text-indent:-8px;margin-top:4px;}
.payment-sec.method .usage-wrap > li > table{margin-top:24px;}
.payment-sec.method .usage-wrap > li > table tbody tr td{padding:8px 10px;}
.payment-sec.method .usage-wrap > li > table tbody tr td .radio-basic{display:inline-block;vertical-align:middle;width:20px;height:20px;margin-right:7px;}
.payment-sec.method .usage-wrap > li > table tbody tr td.price{text-align:right;font-size:14px;font-weight:500;color:#3f64c3;padding-right:9px;}
.payment-sec.method .usage-wrap > li > table tbody tr td.price span{font-weight:normal;color:#777;}

.inner.coupon-wrap .radio-group.vertical li{padding:20px 0;border-bottom:1px solid #f2f2f2;margin:0;}
.inner.coupon-wrap .radio-group.vertical li:last-child{border:0;}
.inner.coupon-wrap .radio-group.vertical li > span{width:130px;}
.inner.coupon-wrap .radio-group.vertical li > em{font-size:12px;color:#777;}
.inner.coupon-wrap table th.tx-b span{display:inline-block;font-size:12px;font-weight:normal;margin-left:3px;}

/* dealerSell06Studio03 */
.live-reserve-sec .co-sec{height:calc(100vh - 230px);}

/* dealerSell06Shot01 */
.live-reserve-sec .list-none-wrap{height:calc(100vh - 430px);}

/* dealerSell07 */
.inventory-sec .tx-exp-tp5{margin:0 0 16px;}
.inventory-sec .m-toggle-list.none > li{padding:0;}
.inventory-sec .list-wrap{padding:24px 20px 0;}
.inventory-sec .list-wrap .table-tp1 tbody tr td[colspan="2"]{text-align:left;}
.inventory-sec .list-none-wrap{height:calc(100vh - 264px);}

/* dealerBuy01 */
.car-img-area.mypage + .car-info-area{width:100%;}
.car-img-area.mypage + .car-info-area .info-wrap{border:1px solid #e7e7e7;border-top:0;padding:20px;}
.car-img-area.mypage + .car-info-area .info-wrap h3{line-height:1.2;font-size:20px;font-weight:500;color:#222;}
.car-img-area.mypage + .car-info-area .info-wrap p{font-size:14px;font-weight:500;color:#777;margin-top:8px;}
.car-img-area.mypage + .car-info-area .info-wrap p span{display:inline-block;}
.car-img-area.mypage + .car-info-area .info-wrap p span:after{position:relative;top:1px;content:'';display:inline-block;width:1px;height:11px;background:#e7e7e7;margin:0 5px;}
.car-img-area.mypage + .car-info-area .info-wrap p span:last-child:after{display:none;}
.car-img-area.mypage + .car-info-area .bidding-inquiry.col2 li{width:50%;}

.popup-tender .register-form .form-list > li{padding-top:32px;}
.popup-tender .register-form .form-list > li:first-child{padding-top:0;}
.popup-tender .register-form .form-list > li > span{display:block;}
.popup-tender .register-form .form-list h3.tit2{margin-bottom:16px;}
.popup-tender .register-form .form-list h3.tit2 em{color:#aaa;}
.popup-tender .register-form .form-list span.tit{width:100%;font-size:14px;font-weight:500;margin-bottom:8px;}
.popup-tender .register-form .form-list span.tit em{color:#aaa;}
.popup-tender .register-form .chk-list li{float:none;padding-top:8px;}
.popup-tender .register-form .radio-list li:nth-child(2){padding-top:4px;}
.popup-tender .register-form .radio-list .radio-group .vertical{padding:0;margin-top:17px;}
.popup-tender .register-form .radio-list .radio-group .vertical li{border:0;padding:0;margin-top:9px;}
.popup-tender .register-form .radio-list .radio-group .vertical li:first-child{margin-top:0;}
.popup-tender .register-form .radio-list.tp2 > li{margin-top:16px;}
.popup-tender .register-form .radio-list.tp2 > li:first-child{margin-top:8px;}
.popup-tender .register-form .radio-list.tp2 > li:nth-child(2){padding-top:0;}

.popup-tender .register-form .form-list.mg li{font-size:14px;line-height:1.57;color:#222;padding:12px 0;}
.popup-tender .register-form .form-list.mg li:first-child{padding:0 0 4px;}
.popup-tender .register-form .form-list.mg li .tx-wrap{width:100%;font-size:16px;font-weight:500;color:#222;text-align:center;padding:24px 0;border-radius:3px;background:#f6f7f8;margin-top:8px;}
.popup-tender .register-form .form-list.mg li .ico-dot{background:#222;}
.popup-tender .register-form .form-list.mg li span{display:inline-block;}
.popup-tender .register-form .tx-exp-tp5{margin-top:4px;}

.popup-reserve .reserve-wrap{width:100%;padding:26px 20px 24px;background:#f6f7f8;}

/* admin-tender-sec */
.admin-tender-sec .m-toggle-list.search{padding:16px 20px 0;}
.admin-tender-sec .m-toggle-list.search .m-menu-list.tp1 > li:first-child{background-position:right top 10px;padding:0;padding-bottom:6px;}
.admin-tender-sec .list-none-wrap{height:calc(100vh - 310px);}
.admin-tender-sec .admin-tender-tab .tabmenu.tp1 .ui-tab{padding:20px 20px 0;}
.admin-tender-sec .admin-tender-tab .tabmenu.tp1 .admin-list-wrap{padding:4px 20px;}


/* liveStudioAssignList */
.live-shot-sec .live-shot > .float-wrap{background:#f6f7f8;padding:14px 20px;}
.live-shot-sec .live-shot > .float-wrap > p{font-size:12px;font-weight:500;color:#222;}
.live-shot-sec .live-shot > .float-wrap > ul:after{content:'';display:block;clear:both;}
.live-shot-sec .live-shot > .float-wrap > ul > li{float:left;font-size:12px;color:#222;margin-left:8px;}
.live-shot-sec .live-shot > .float-wrap > ul > li:first-child{margin:0;}
.live-shot-sec .live-shot > .float-wrap > ul > li > span{font-weight:500;color:#3f64c3;}
.live-shot-sec .live-shot > .goods-list{width:100%;padding:0 20px;}
.live-shot-sec .live-shot > .goods-list > li{width:100%;border-bottom:1px solid #e7e7e7;padding:12px 0 20px;}
.live-shot-sec .live-shot > .goods-list > li .date{font-size:12px;color:#777;}
.live-shot-sec .live-shot > .goods-list > li .date ul:after{content:'';display:block;clear:both;}
.live-shot-sec .live-shot > .goods-list > li .date ul > .state:before{position:relative;top:3px;content:'';display:inline-block;width:1px;height:14px;background:#e7e7e7;margin:0 4px;}
.live-shot-sec .live-shot > .goods-list > li .subject{line-height:1.44;font-size:16px;font-weight:500;color:#222;margin-top:8px;}
.live-shot-sec .live-shot > .goods-list > li .subject > span{display:block;font-size:14px;font-weight:normal;}
.live-shot-sec .live-shot > .goods-list > li .info{font-size:12px;color:#777;margin-top:8px;}
.live-shot-sec .live-shot > .m-toggle-list.search{padding:4px 20px 0;}
.live-shot-sec .live-shot > .list-none-wrap{height:calc(100vh - 270px);}
.live-shot-sec .steps-stick p{padding:20px 20px 0;}

/* liveShotRegister01 */
.live-shot-sec .photo-area{width:100%;padding-top:48px;}
.live-shot-sec .photo-area > p{width:fit-content;letter-spacing:normal;margin:0 auto;}
.live-shot-sec .photo-area .float-wrap{width:240px;font-size:12px;color:#222;margin:0 auto;margin-top:16px;}
.live-shot-sec .photo-area .float-wrap li:last-child{color:#3f64c3;font-weight:500;}
.live-shot-sec .photo-area > .photo-wrap{width:240px;height:152px;background:#d8d8d8;border-radius:3px;margin:0 auto;margin-top:16px;}
.live-shot-sec .photo-area > .photo-complete{width:82%;margin:0 auto;}
.live-shot-sec .photo-area > .photo-complete:after{content:'';display:block;clear:both;}
.live-shot-sec .photo-area > .photo-complete li{margin-top:40px;}
.live-shot-sec .photo-area > .photo-complete li:first-child{float:left;}
.live-shot-sec .photo-area > .photo-complete li:last-child{float:right;}
.live-shot-sec .photo-area > .photo-complete li p{text-align:center;font-size:16px;font-weight:500;color:#222;}
.live-shot-sec .photo-area > .photo-complete li > .photo-wrap{width:110px;height:137px;background:#d8d8d8;border-radius:3px;margin:16px 0;}
.live-shot-sec .photo-area > .photo-complete li span{display:block;text-align:center;font-size:14px;color:#222;}
.live-shot-sec + .step-btn{bottom:20px;padding:0 20px;}


@media screen and (max-width: 320px) {
  .accident-history-cont ul.radio-block.tp4 li .radio-basic input + label{font-size:11px;}
  .accident-history-cont ul.radio-block.tp4.col3 li .radio-basic input + label{font-size:11px;}

  /* 이용권 결제 */
  .payment-sec.method .usage-wrap > li > table thead tr td{font-size:10px;padding:8px 2px;}
  .payment-sec.method .usage-wrap > li > table tbody tr td{padding:8px 2px;}
  .payment-sec.method .usage-wrap > li > table tbody tr td.price{padding-right:3px;}

  /* carManagment */
  .register-admin-sec .admin-list-wrap .float-wrap.btn-xs .btn-wrap.lt3{float:left;margin-top:10px;}
}




















































/* generalSell02 */
.goods-list.admin-list.tp6 > ul > li{border-bottom:solid 1px #f2f2f2;padding:16px 0;margin:0;}
.goods-list.admin-list.tp6 > ul > li:last-child{border-bottom:0;}
.goods-list.admin-list.tp6 > ul > li .summary{width:100%;padding:0;}
.goods-list.admin-list.tp6 > ul > li .summary .subject{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;height:21px;line-height:21px;overflow:hidden;text-overflow:ellipsis;margin-top:8px;}
.goods-list.admin-list.tp6 > ul > li .summary .subject.tp2{display:block;height:auto;line-height:21px;}
.goods-list.admin-list.tp6 > ul > li .summary .info-wrap .info{font-size:12px;}
.goods-list.admin-list.tp6 > ul > li .summary .price-wrap:after{content:'';display:block;clear:both;}

/* generalMember03 */
/* m-toggle-list.qna */
.m-toggle-list.qna{border:0;}
.m-toggle-list.qna > li > dl > dt > a{padding:16px 0;}
.m-toggle-list.qna > li > dl > dt > a:after{display:none;}
.m-toggle-list.qna > li > dl > dt > a p{display:block;font-size:15px;font-weight:500;color:#222;}
.m-toggle-list.qna > li > dl > dt > a span{float:none;display:block;line-height:1.4;font-size:14px;color:#777;margin-top:16px;padding:0;}
.m-toggle-list.qna > li > dl > dt > a span.cont{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;height:38px;overflow:hidden;text-overflow:ellipsis;}
.m-toggle-list.qna > li > dl > dt > a.up{font-weight:normal;}
.m-toggle-list.qna > li > dl > dt > a.up > span.cont{display:block;height:auto;}
.m-toggle-list.qna .float-wrap{height:14px;line-height:14px;margin-top:11px;}
.m-toggle-list.qna .float-wrap li{float:left;font-size:12px;color:#777;border-left:1px solid #e7e7e7;padding-left:4px;margin-left:4px;}
.m-toggle-list.qna .float-wrap li:first-child{border:0;padding:0;margin:0;}
.m-toggle-list.qna .float-wrap .star{font-size:14px;font-weight:normal;}
.m-toggle-list.qna .float-wrap .star .ico-fill-star{position:relative;top:-1px;}
.m-toggle-list.qna .answer-box{background:#f6f7f8;padding:16px;}
.m-toggle-list.qna .answer-box p{font-size:14px;color:#777;font-weight:normal;line-height:1.3;}

/* dealerAuction01 */
.auction-membership-intro{padding:24px 0;}
.auction-membership-list li{font-size:14px;color:#777;line-height:1.3;}
.auction-membership-list .table-tp2.th-none > tbody > tr > td{font-size:12px;color:#777;}

/* dealerSell04 */
.goods-list.admin-list.tp5 > ul > li{border:0;padding:0;margin-top:24px;}
.goods-list.admin-list.tp5 > ul > li:first-child{margin-top:0;}
.goods-list.admin-list.tp5 > ul > li .img-cover{position:relative;width:129px;height:135px;}
.goods-list.admin-list.tp5 > ul > li .img-cover .img-wrap{height:135px;}
.goods-list.admin-list.tp5 > ul > li .img-cover .state{position:absolute;bottom:0;display:block;width:100%;height:30px;line-height:30px;text-align:center;background:rgba(63, 100, 195, 0.8);color:#fff;}
.goods-list.admin-list.tp5 > ul > li .img-cover .state.end{background:rgba(119, 119, 119, 0.8);}
.goods-list.admin-list.tp5 > ul > li .summary{width:calc(100% - 129px);}
.goods-list.admin-list.tp5 > ul > li .summary ul.date li .time{border:0;}
.goods-list.admin-list > ul > li .summary .info-wrap .status{display:inline-block;width:fit-content;line-height:1.4;font-size:12px;color:#222;margin-top:22px;}
.goods-list.admin-list > ul > li .summary .info-wrap .status span:after{content:'|';color:#e7e7e7;padding:0 4px;box-sizing:border-box;}
.goods-list.admin-list > ul > li .summary .info-wrap .status span:last-child:after{display:none;}


/* DealerBuy01 */
.mypage-state-sec .tabmenu.tp1 > .ui-tab{padding:0 20px;}
.mypage-state-sec .tabmenu.tp1 .m-toggle-list{padding:0 20px;}
.mypage-state-sec .admin-list-wrap{padding:24px 20px;}

/* dealerMember03 */
.info-list-wrap {position: relative;padding-top:12px;}
.info-list-wrap .list-ex {position:absolute;top:-15px;right:0; font-size:14px;color:#222;}
.info-list-wrap .list-ex span {color:#3f64c3;}
.inner .info-list-wrap .info-list li {padding:4px 0;}
.inner .info-list-wrap .info-list a {overflow:hidden;position:relative;display:block;padding:16px 12px 16px 16px;border:1px solid #f2f2f2;border-radius:2px;background:url(/images/mobile/ico/ico-next-black.svg) no-repeat right 12px center;font-size:12px;}
.info-left {float:left;width:80%;}
.days-area {color:#777;line-height:21px;}
.days-area span {margin-left:8px;padding:4px 9px;border-radius:2px;background-color:#e6ecfb;line-height:13px;font-size:10px;color:#3f64c3;}
.waterman-area{padding:10px 0;font-size:14px;color:#222;line-height:21px;}
.waterman-area span {position: relative;top:-2px;display:inline-block;margin-right:8px;padding:0 8px;border:1px solid #e7e7e7;border-radius:2px;font-size:10px;color:#777;}
.count-area {color:#3f64c3;}
.info-right {float:right;position:absolute;top:50%;right:5px;width:20%;transform: translateY(-50%);}
.info-right em {display:block;font-size:14px;color:#777;}
.info-right em span {font-size:22px;color:#3f64c3;}
.info-right > span {display:block;font-size:12px;color:14px;padding-top:6px;}

/* adRegistration */
.present-area {position: relative; overflow:hidden;padding:16px 16px;border:1px solid #f2f2f2;border-radius:3px;}
.present-area .waterman-area{padding:0;padding-bottom:10px;}
.present-area .info-right {right:0;}
.goods-list.admin-list.adReg-area ul li {margin-top:24px;}
.adReg-area ul li > span {overflow:hidden;display:block;}
.table-tp1.adR-tb {margin-top:8px;}
.table-tp1.adR-tb tbody tr th,.table-tp1.adR-tb tbody tr td {font-size:12px;}
.table-tp1.adR-tb tbody tr td {position:relative;color:#222;}
.table-tp1.adR-tb tbody td span {padding-left:2xp;color:#777;}
.table-tp1.adR-tb tbody tr td .btn-base {position:absolute;top:50%;right:0;margin-top:-12px;}

































