{
  "presets": ["next/babel"],
  "comments": false,
  "compact": true,
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@lib": "./lib",
          "@pages": "./pages"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "env": {
    "staging": {
      "plugins": [["transform-remove-console", { "exclude": ["error", "warn", "info", "log"] }], ["transform-react-remove-prop-types"]]
    },
    "production": {
      "plugins": [["transform-remove-console"], ["transform-react-remove-prop-types"]]
    }
  }
}
