[class*='help-'] .tabmenu .ui-tab {
  margin-bottom: 0;
}

/*notice-list*/
.notice-cont {
  display: block;
  padding: 20px 25px 20px 50px;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}
.notice-cont:before {
  position: absolute;
  right: 0;
  top: 50%;
  content: '';
  display: block;
  width: 9px;
  height: 16px;
  background: url(/images/mobile/common/btn-h-back.svg) no-repeat;
  background-size: 9px 16px;
  transform: translateY(-50%) rotate(180deg);
}
.notice-cont > span {
  display: block;
}
.notice-cont > span.notice {
  position: absolute;
  width: 31px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background: #3f64c3;
  text-align: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.notice-cont > span.num {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -7px;
}
.notice-cont > span.txt {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
}
.notice-cont > span.txt i {
  margin-left: 3px;
}
.notice-cont > span.date {
  font-size: 12px;
  color: #777;
  line-height: 1.17;
  margin-top: 8px;
}
.notice-cont.v-2 {
  padding: 20px;
}
.notice-cont.v-2:before {
  content: none;
}
.notice-cont.v-2 > span.txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
}
.notice-cont.v-2 > span.txt em {
  font-weight: 500;
}
.notice-cont.v-2 > span.date {
  font-size: 14px;
  line-height: 1.14;
}

.help-notice-wrap .table-tp2 tr {
  border-bottom: 1px solid #f2f2f2;
}
.help-notice-wrap .table-tp2 tr:last-child {
  border: 0;
}
.help-notice-wrap .table-tp2 tr th {
  padding-left: 10px;
}
.help-notice-wrap .table-tp2 tr th span.notice {
  margin-left: -10px;
  display: inline-block;
  width: 31px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background: #3f64c3;
  text-align: center;
}
.help-notice-wrap .table-tp2 tr td {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  color: #222;
  padding-right: 25px;
  position: relative;
}
.help-notice-wrap .table-tp2 tr td:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: '';
  display: block;
  width: 9px;
  height: 16px;
  background: url(/images/mobile/common/btn-h-back.svg) no-repeat;
  background-size: 9px 16px;
  transform: translateY(-50%) rotate(180deg);
}
.help-notice-wrap .table-tp2 tr td a {
  line-height: 1.3;
}
.help-notice-wrap .table-tp2 tr td .ico-file {
  margin-left: 3px;
}
.help-notice-wrap .table-tp2 tr td span.date {
  display: block;
  font-size: 12px;
  color: #777;
  line-height: 1.17;
  margin-top: 8px;
}

/*notice-view*/
.help-notice-wrap .view-wrap .header {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.help-notice-wrap .view-wrap .header h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
}
.help-notice-wrap .view-wrap .header h5 em {
  font-weight: 500;
}
.help-notice-wrap .view-wrap .header .date {
  display: block;
  line-height: 1.14;
  color: #777;
  margin-top: 8px;
}
.help-notice-wrap .view-wrap .add-file {
  padding: 15px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.help-notice-wrap .view-wrap .add-file p {
  margin-top: 5px;
}
.help-notice-wrap .view-wrap .add-file p:first-child {
  margin-top: 0;
}
.help-notice-wrap .view-wrap .add-file > span > i {
  margin-right: 8px;
}
.help-notice-wrap .view-wrap .content {
  padding: 16px 20px;
  color: #777;
  line-height: normal;
}

/*inquiry*/
.help-inquiry-wrap .inquiry-cont {
  padding: 29px 20px 32px;
  border: 1px solid #f2f2f2;
}
.help-inquiry-wrap .tit h4 {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-top: 16px;
}
.help-inquiry-wrap .tit p {
  font-size: 14px;
  color: #777;
  margin-top: 8px;
  line-height: normal;
}
.help-inquiry-wrap .ico-wrap {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 100%;
  background: #f6f7f8;
}
.help-inquiry-wrap .center-wrap {
  margin-top: 24px;
}
.help-inquiry-wrap .center-wrap p {
  font-size: 17px;
  letter-spacing: -0.68px;
  color: #222;
}
.help-inquiry-wrap .center-wrap p span {
  display: block;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1.44px;
  color: #3f64c3;
  margin: 12px 0 23px 0;
}
.help-inquiry-wrap .center-wrap ul {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}
.help-inquiry-wrap .center-wrap li {
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  color: #222;
  border-right: 1px solid #f2f2f2;
  padding-right: 13px;
  margin-right: 13px;
}
.help-inquiry-wrap .center-wrap li:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}

/* inquiry-write */
.help-inquiry-wrap .table-tp2 > tbody > tr > th {
  line-height: normal;
  padding-top: 22px;
}
.help-inquiry-wrap .table-tp2 > tbody > tr:first-child > td {
  line-height: normal;
  vertical-align: top;
}
.help-inquiry-wrap .radio-basic {
  margin: 4px 8px;
}
.help-inquiry-wrap .sm-info {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  color: #aaa;
  margin-top: 5px;
  padding-left: 22px;
}
.help-inquiry-wrap .tx-exp-tp6 {
  margin-top: 8px;
}

/* faq */
.help-faq-wrap {
  padding: 20px 0 0;
}
.help-faq-wrap > .ex {
  padding: 0 20px 16px;
  line-height: normal;
}
.help-faq-wrap > .tabmenu > .ui-panel {
  padding: 0 20px;
}
.help-faq-wrap > .tabmenu > .ui-panel > .tabmenu > .ui-tab {
  position: relative;
}
.help-faq-wrap > .tabmenu > .ui-panel > .tabmenu > .ui-tab li {
  width: 16.66%;
}
.help-faq-wrap > .tabmenu > .ui-panel {
  position: relative;
  overflow: inherit;
}
.help-faq-wrap > .tabmenu > .ui-panel > p.ex {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  letter-spacing: -0.6px;
  color: #5e5e5e;
}
.help-faq-wrap > .tabmenu.tp2.big > .ui-tab:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 34px;
  background-image: linear-gradient(to left, #ffffff 100%, rgba(255, 255, 255, 0) 0%);
}

@media screen and (max-width: 320px) {
  /*inquiry*/
  .help-inquiry-wrap .tit h4 {
    font-size: 15px;
  }
}
