.member-subtit-area {
  padding: 20px 0;
}
.member-subtit-area p {
  font-size: 14px;
  line-height: 1.14;
}
.choose-box {
  background-color: #fff;
  border: 1px solid #f2f2f2;
}
.choose-box-in {
  position: relative;
  width: calc(100% - 40px);
  max-width: 332px;
  margin: auto;
  padding: 23px 0 23px 103px;
}
.choose-box-in:after {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: 100%;
  border: 1px solid #f2f2f2;
}
.choose-box.normal .choose-box-in:after {
  background: #f6f7f8 url(/images/contents/member-female-bg.png) center center no-repeat;
  background-size: 47px 62px;
}
.choose-box.dealer .choose-box-in:after {
  background: #f6f7f8 url(/images/contents/member-male-bg.png) center center no-repeat;
  background-size: 47px 62px;
}
.choose-box h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #222;
}
.choose-box p {
  font-size: 14px;
  color: #777;
  margin: 8px 0 16px;
  font-weight: normal;
  letter-spacing: -1.1px;
}
.choose-box .btn-base {
  max-width: 229px;
}
.other-join {
  position: relative;
  padding: 16px 20px 24px;
}
.other-join:after {
  content: '';
  position: absolute;
  width: calc(100% - 40px);
  height: 1px;
  background: #f2f2f2;
  top: 0;
  left: 20px;
}
.other-join h5 {
  font-size: 14px;
  line-height: 1.14;
  color: #222;
  letter-spacing: normal;
  text-align: center;
}

.member-sec-w {
  padding: 32px 0 24px;
  text-align: center;
}
.member-sec-w h3 {
  font-size: 16px;
  line-height: 1.13;
  font-weight: 500;
  color: #222;
}
.member-sec-w p.ment {
  font-size: 14px;
  line-height: 1.14;
  color: #777;
  margin-top: 8px;
}
.member-sec-w.v-2 {
  padding: 10px 0 24px;
}
.member-sec-w.v-2 h3 {
  line-height: normal;
}
.member-sec-w.v-2 h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #222;
  margin-top: 8px;
}
.member-sec-w.v-2 p.ment {
  font-size: 12px;
  line-height: normal;
  color: #777;
}

/* memberStep01 */
.member-contents .terms-agree-all {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e7e7e7;
}
.member-contents .terms-agree-all .chk-box {
  display: block;
  margin-top: 13px;
}
.member-contents .terms-agree-all .chk-box:first-child {
  margin-top: 0;
}
.member-terms-wrap .view-wrap {
  padding: 20px;
}
.member-terms-wrap .view-wrap p {
  font-size: 12px;
  color: #222;
  line-height: normal;
}
.member-terms-wrap .view-wrap p.p2 {
  margin: 10px 0;
}
.member-terms-wrap .view-wrap [class^='table-tp'] > tbody > tr > th,
.member-terms-wrap .view-wrap [class^='table-tp'] > tbody > tr > td {
  font-size: 12px;
}
.fp-wrap .member-terms-wrap .view-wrap {
  width: 100%;
}
.member-terms-wrap .select-date-area {
  margin-bottom: 10px;
  position: relative;
  padding-left: 55px;
}
.member-terms-wrap .select-date-area .select-date-label {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 16px;
}

/* memberStep03 */
.join-form .table-tp2.th-none > tbody > tr:first-child > td {
  padding-top: 4px;
}
.join-form .table-tp2.th-none > tbody > tr > td {
  position: relative;
}
.join-form .table-tp2.th-none > tbody > tr > td .radio-group {
  padding-right: 32px;
}
.join-form .table-tp2.th-none > tbody > tr > td .radio-group .radio-basic {
  margin-left: 14px;
}
.join-form .table-tp2.th-none > tbody > tr > td .radio-group.v-2 {
  position: absolute;
  right: 0;
  top: 9px;
  padding-right: 0;
}
.join-form .table-tp2.th-none > tbody > tr > td .radio-group.v-3 span {
  margin-top: 8px;
}
.join-form .table-tp2.th-none > tbody > tr > td .radio-group.v-3 span:first-child {
  margin-top: 0;
}
.join-form .table-tp2.th-none > tbody > tr > td .tooltip-wrap {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  left: auto;
}
.join-form .table-tp2.th-none .input-base.date-picker {
  margin-top: 8px;
}
.join-form .table-tp2.th-none .tx-sm-info dd {
  font-size: 12px;
  color: #777;
  line-height: 1.17;
  margin-top: 4px;
  position: relative;
  padding-left: 8px;
}
.join-form .table-tp2.th-none .tx-sm-info dd:first-child {
  margin-top: 8px;
}
.join-form .table-tp2.th-none .tx-sm-info dd:before {
  content: '*';
  position: absolute;
  font-size: 12px;
  color: #777;
  top: 1px;
  left: 0;
}
.join-form .table-tp2.th-none > tbody > tr > td .file-wrap:after {
  content: '';
  clear: both;
  display: block;
}
.join-form .table-tp2.th-none > tbody > tr > td .file-wrap p.tx-tit {
  width: 38px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin-bottom: 0;
}
.join-form .table-tp2.th-none > tbody > tr > td .file-wrap .input-file-wrap {
  width: calc(100% - 38px);
  float: left;
}
.join-form .table-tp2.th-none .input-base.date-picker input {
  width: 100%;
}
.join-form .select-wrap {
  position: relative;
  padding-top: 30px;
}
.join-form .select-wrap:before {
  content: '';
  width: calc(100% + 40px);
  height: 10px;
  background-color: #f6f7f8;
  position: absolute;
  left: -20px;
  top: 0;
}
.halfselect {
  display: inline-block;
  width: calc((100% - 8px) / 2);
  margin-top: 8px;
}
.halfselect:nth-child(-n + 2) {
  margin-top: 0;
}
.halfselect:nth-child(even) {
  margin-left: 8px;
}

/* login-contents */
.login-tit-area .ico-wrap {
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 100%;
  background-color: #f6f7f8;
  margin: 48px auto 16px;
  text-align: center;
}
.login-tit-area h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.login-tit-area h4 span {
  color: #3f64c3;
}
.login-tit-area p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #777;
  margin-top: 8px;
}
.login-tit-area p span {
  color: #3f64c3;
}
.login-tit-area.v-2 h4 {
  text-align: left;
  padding-top: 20px;
}
.login-tit-area.v-2 p {
  text-align: left;
  line-height: normal;
}
.login-tit-area.v-3 p {
  line-height: normal;
  margin-top: 16px;
}

.login-contents .ico-tx-wrap {
  display: block;
  font-size: 12px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
}
.login-contents .ico-tx-wrap p span {
  color: #3f64c3;
}
.login-contents .ico-tx-wrap dl {
  display: table;
  text-align: left;
  margin-top: 6px;
}
.login-contents .ico-tx-wrap dl:first-child {
  margin-top: 0;
}
.login-contents .ico-tx-wrap dl dt {
  display: table-cell;
  width: 110px;
  font-size: 14px;
  color: #222;
}
.login-contents .ico-tx-wrap dl dd {
  display: table-cell;
  width: calc(100% - 110px);
  font-size: 14px;
  color: #777;
}
.login-contents .ico-tx-wrap.v-2 p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #222;
}
.login-contents .ico-tx-wrap.v-2 {
  padding: 32px 20px;
  margin-top: 0;
}
.login-contents .ico-tx-wrap.v-2 span {
  display: block;
  margin-top: 4px;
  line-height: normal;
}
.login-contents .ico-tx-wrap.v-2 span:first-child {
  margin-top: 0;
}

.login-contents .tx-wrap {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
}
.login-contents .tx-wrap .tit {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  color: #3f64c3;
  margin-bottom: 4px;
}
.login-contents .tx-wrap .b-tit {
  font-size: 12px;
  color: #777;
  line-height: normal;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
}
.login-contents .tx-wrap dl dd {
  font-size: 12px;
  color: #777;
  line-height: normal;
  margin-top: 4px;
  position: relative;
  padding-left: 11px;
}
.login-contents .tx-wrap dl dd:before {
  content: '';
  width: 2px;
  height: 2px;
  background: #777;
  position: absolute;
  top: 8px;
  left: 3px;
  border-radius: 100%;
}
.login-contents .tx-bg {
  display: table;
  width: 100%;
  height: 100px;
  font-size: 17px;
  letter-spacing: -0.68px;
  color: #222;
  text-align: center;
  background-color: #f6f7f8;
  margin-bottom: 40px;
}
.login-contents .tx-bg p {
  display: table-cell;
  line-height: 1.35;
  vertical-align: middle;
}
.login-contents .tx-bg dl {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 0;
}
.login-contents .tx-bg + dl dd:last-child {
  padding-left: 35%;
  margin-top: 10px;
}
.login-contents .tx-bg dl.pw-wrap {
  display: block;
  width: fit-content;
  margin: 0 auto;
  line-height: 100px;
}
.login-contents .tx-bg dl dt:first-child {
  float: left;
  width: auto;
  margin-right: 22px;
}
.login-contents .tx-bg dl dd {
  float: left;
  font-size: 22px;
}
.login-contents .l-btn-wrap {
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
  margin-top: 20px;
}

/* login-wrap */
.login-wrap .tabmenu .ui-tab li {
  width: 50%;
}
.login-wrap .login-form ul li {
  margin-top: 16px;
}
.login-wrap .login-form ul li:first-child {
  margin-top: 0;
}
.login-wrap .other-login {
  border-top: 1px solid #e7e7e7;
  margin-top: 24px;
}
.login-wrap .tx-sub {
  font-size: 12px;
  line-height: normal;
  color: #777;
  margin-top: 16px;
}
.login-wrap .tx-sub.v-2 {
  text-align: center;
}
.login-wrap .tx-sub span {
  color: #3f64c3;
}
.login-wrap .ta-center {
  text-align: center;
  padding: 30px 0;
}
.login-wrap .logo {
  display: inline-block;
  width: 140px;
}
.login-wrap .logo img {
  width: 100%;
}
.login-wrap .find-info {
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
  margin-top: 20px;
}
.login-wrap .find-info:after {
  content: '';
  display: block;
  clear: both;
}
.login-wrap .find-info li {
  float: left;
  padding: 0 8px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #777;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  margin-left: 9px;
}
.login-wrap .find-info li:first-child {
  margin-left: 0;
}
.login-wrap .find-info li:last-child {
  float: right;
  background: #e6ecfb;
  color: #3f64c3;
  border-color: #e6ecfb;
}
.login-wrap .tx-not {
  font-size: 12px;
  line-height: normal;
  color: #ff0000;
  margin-top: 14px;
}
.nomember-wrap p.p2 {
  color: #222;
  line-height: 1.14;
  padding-top: 20px;
}
.vert-step {
  position: relative;
  padding-top: 32px;
}
.vert-step li:last-child .con {
  margin-top: 50px;
}
.vert-step li .step {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #aaa;
  border-radius: 100%;
  background-color: #f6f7f8;
  margin-right: 7px;
  vertical-align: middle;
}
.vert-step li .con .tit {
  position: relative;
  padding-left: 31px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: normal;
  color: #222;
}
.vert-step li .con .tit + span {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: #777;
  margin-top: 13px;
}
.vert-step li .con .tx-sub {
  margin-top: 8px;
  color: #3f64c3;
}
.vert-step li.active .con .tit {
  color: #3f64c3;
}
.vert-step li.active .step {
  background: #e6ecfb;
  color: #3f64c3;
}

/* captcha-wrap */
.captcha-wrap .captcha-box {
  background-color: #f6f7f8;
  margin-top: 16px;
}
.captcha-wrap .captcha-box:after {
  content: '';
  clear: both;
  display: block;
}
.captcha-wrap .captcha-box .img-wrap {
  float: left;
  width: calc(100% - 93px);
  height: 88px;
  margin-right: 8px;
  overflow: hidden;
}
.captcha-wrap .captcha-box .img-wrap img {
  width: 100%;
  height: 88px;
  border-radius: 3px;
  object-fit: unset;
}
.captcha-wrap .captcha-box .btn-wrap {
  float: left;
  width: 84px;
  height: 88px;
  margin-bottom: 16px;
}

/* memberCertify */
.certify-wrap {
  text-align: center;
  border: 1px solid #e7e7e7;
  padding: 32px 0;
}
.certify-wrap .tx-sub {
  font-size: 14px;
  line-height: normal;
  color: #777;
  margin-top: 8px;
}
.certify-wrap .ico-wrap {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 100%;
  background-color: #f6f7f8;
}
.certify-wrap .tit {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-top: 16px;
}
.certify-wrap.member .tx-sub {
  font-size: 12px;
  line-height: normal;
  color: #777;
  text-align: center;
  margin-top: 16px;
}
.tx-small {
  font-size: 12px;
  line-height: normal;
  color: #777;
  text-align: center;
  margin-top: 16px;
}

/* terms */
.member-terms-wrap .view-wrap {
  padding: 20px;
  width: 95%;
}
.member-terms-wrap .view-wrap .p1 {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
.member-terms-wrap .view-wrap .p0 {
  display: block;
  padding-bottom: 9px;
  font-size: 13px;
  line-height: 1.4;
  color: #767676;
}
.member-terms-wrap .view-wrap .p2 {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}
.member-terms-wrap .view-wrap .p2 a {
  font-size: 14px;
  font-weight: 700;
}
.member-terms-wrap .view-wrap .p2 a:hover {
  text-decoration: underline;
}
.member-terms-wrap .view-wrap .nbsp {
  display: inline-block;
  width: 10px;
}
.member-terms-wrap .view-wrap .inin {
  display: block;
  margin-left: 27px;
  margin-bottom: 8px;
}
.member-terms-wrap .view-wrap [class^='table-tp'] > tbody > tr.cent {
  text-align: center;
}
.member-terms-wrap .view-wrap [class^='table-tp'] > tbody > tr > td {
  padding: 10px;
  font-size: 13px;
  height: auto;
}

@media screen and (max-width: 320px) {
  /* choose-box */
  .choose-box-in {
    padding-left: 93px;
  }
  .choose-box-in:after {
    width: 80px;
    height: 80px;
  }
  .choose-box p {
    line-height: 1.3;
    margin: 6px 0 8px;
  }
}
.member-contents .cm-tit {
  font-size: 16px;
  margin: 30px 0 10px;
}
.login-wrap .con-pass {
  font-size: 12px;
  color: #777;
}
.join-form .table-tp2.th-none > tbody > tr > td .m-auto-radio .fr {
  width: 40%;
  margin-top: 5px;
}
.join-form .table-tp2.th-none > tbody > tr > td .m-auto-radio .radio-group .radio-basic:first-child {
  margin-left: 0px;
}
.join-form .table-tp2.th-none > tbody > tr > td .m-auto-radio .radio-group:last-child {
  padding-right: 10px;
}
.txt-auto {
  color: #222;
  margin-bottom: 10px;
  line-height: 1.2;
}
.txt-auto2 {
  color: #777;
  font-size: 12px;
}
