/* sellHome */
.sell-main-area {
  margin-top: -57px;
}
.sell-main-area .sell-top-banner {
  padding: 57px 0 168px;
  background: url(/images/mobile/contents/bg-asphalt.png) 0 0 repeat;
  background-size: 60px auto;
}
.sell-main-area .sell-top-banner .top-banner-bg {
  width: 73.06%;
  background-color: transparent;
}
/* .sell-main-area .sell-top-banner .top-banner-bg{width:200px;height:146px;background:url(/images/mobile/contents/sell-main-picto.svg) bottom right no-repeat;} */
.sell-main-area .content-sec {
  padding: 32px 20px;
}
.sell-main-area .sell-ask-list li {
  margin-top: 12px;
}
.sell-main-area .sell-ask-list li:first-child {
  margin-top: 0;
}
.sell-main-area .sell-ask-list li .btn-base {
  position: relative;
  height: auto;
  font-weight: 500;
  text-align: left;
  line-height: unset;
  border-radius: 3px;
  padding: 18px 24px 18px 18px;
  line-height: 1.2;
}
.sell-main-area .sell-ask-list li .btn-base i {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
}
.sell-main-area .sell-ask-list li .btn-base em {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #777;
  margin-top: 10px;
}

.sell-main-area .sell-ask-list li > span span:nth-child(1) {
  font-size: 15px;
}
.sell-main-area .sell-ask-list li > span span:nth-child(2) {
  font-size: 18px;
}

/* selfHome */
.sell-service-wrap .content-wrap {
  padding: 20px 20px 24px;
}
.sell-service-wrap .content-wrap > p {
  font-size: 12px;
  line-height: 1.42;
  letter-spacing: normal;
  color: #777;
  margin-top: 8px;
}
.sell-service-wrap h3 {
  font-size: 18px;
  line-height: 1.2;
}
.sell-service-wrap h3 strong {
  font-weight: bold;
}
.sell-service-wrap .app-down {
  margin-top: 16px;
}
/* slide-steps */
.sell-service-wrap .steps-frame {
  margin-top: 16px;
}
.slide-steps-wrap {
  padding: 32px 20px;
}
.slide-steps-wrap .steps-img-wrap {
  position: relative;
}
.slide-steps-wrap .steps-exp {
  text-align: center;
  margin-top: 46px;
}
.slide-steps-wrap .steps-exp .tit {
  font-size: 14px;
  font-weight: 500;
  color: #222;
}
.slide-steps-wrap .steps-exp .exp {
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.42;
  color: #777;
  word-break: keep-all;
  margin-top: 5px;
}
.slide-steps-wrap .btn-prev-xs,
.slide-steps-wrap .btn-next-xs {
  position: absolute;
  top: 50%;
  display: block;
  width: 8px;
  height: 12px;
  opacity: 0.4;
  z-index: 2;
  display: none;
}
.slide-steps-wrap .btn-prev-xs {
  background-image: url(/images/mobile/ico/ico-prev-black.svg);
  transform: rotate(180deg);
  left: 17px;
}
.slide-steps-wrap .btn-next-xs {
  background-image: url(/images/mobile/ico/ico-next-black.svg);
  right: 17px;
}
.slide-steps-wrap .btn-prev-xs:hover,
.slide-steps-wrap .btn-next-xs:hover {
  opacity: 1;
}

.slide-steps-wrap .slick-dots {
  position: absolute;
  top: 16px;
  bottom: 0;
  height: 10px;
  font-size: 0;
}
.slide-steps-wrap .slick-dots .dots li {
  width: 10px;
  height: 10px;
  margin: 0 4px;
}
.slide-steps-wrap .slick-dots .dots li button {
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 100%;
  padding: 0;
  background: #e7e7e7;
}
.slide-steps-wrap .slick-dots .dots li button:before {
  display: none;
}
.slide-steps-wrap .slick-dots .dots li button:hover {
  background: #3f64c3;
}
.slide-steps-wrap .slick-dots .dots li.slick-active button {
  background: #3f64c3;
  opacity: 1;
}

.sell-login-wrap {
  padding: 20px;
}
.sell-login-wrap .vert-step li .con .tit {
  line-height: 1.4;
  padding: 0;
  text-align: center;
  margin-bottom: 32px;
}

.sell-service-wrap .sell-ico-wrap {
  margin-top: 23px;
}
.sell-service-wrap .sell-ico-wrap li {
  height: 90px;
  margin-top: 16px;
}
.sell-service-wrap .sell-ico-wrap li:first-child {
  margin-top: 0;
}
.sell-service-wrap .sell-ico-wrap li i {
  width: 90px;
  height: 90px;
}
.sell-service-wrap .sell-ico-wrap li span[class*='self-intro'],
.sell-service-wrap .sell-ico-wrap li span[class*='free-intro'] {
  display: block;
  width: 90px;
  height: 90px;
}
.sell-service-wrap .sell-ico-wrap li span.self-intro-01 {
  background: url(/images/mobile/contents/sell-self-intro-01.png) 0 0 no-repeat;
  background-size: auto 90px;
}
.sell-service-wrap .sell-ico-wrap li span.self-intro-02 {
  background: url(/images/mobile/contents/sell-self-intro-02.png) 0 0 no-repeat;
  background-size: auto 88px;
}
.sell-service-wrap .sell-ico-wrap li span.self-intro-03 {
  background: url(/images/mobile/contents/sell-self-intro-03.png) 0 10px no-repeat;
  background-size: auto 72px;
}

.sell-service-wrap .sell-ico-wrap li span.free-intro-01 {
  background: url(/images/mobile/contents/sell-free-intro-01.png) 0 0 no-repeat;
  background-size: auto 40px;
  left: 7px;
  top: 64px;
}
.sell-service-wrap .sell-ico-wrap li span.free-intro-02 {
  background: url(/images/mobile/contents/sell-free-intro-02.png) 0 0 no-repeat;
  background-size: auto 81px;
  left: 13px;
  top: 54px;
}
.sell-service-wrap .sell-ico-wrap li span.free-intro-03 {
  background: url(/images/mobile/contents/sell-free-intro-03.png) 0 0 no-repeat;
  background-size: auto 81px;
  top: 54px;
}

/* selfStep03 */
/* sell-register-wrap */
.content-wrap.sell-register-wrap {
  padding: 20px;
}
.sell-register-wrap .info-wrap {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background-color: #f6f7f8;
  padding: 22px 20px 24px;
  margin-bottom: 32px;
}
.sell-register-wrap .info-wrap .tit {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}
.sell-register-wrap .info-wrap .exp {
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  margin-top: 16px;
}
.sell-register-wrap .img-upload-wrap {
  padding: 0 20px 20px;
}

/* selfStep03_01 */
.photo-list-wrap .float-wrap {
  padding: 5px 20px;
}
.photo-list-wrap .float-wrap li:first-child {
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  color: #222;
}
.photo-list-wrap .content-wrap {
  padding: 20px 20px 24px;
}
.photo-list-wrap .content-wrap p {
  font-size: 16px;
  color: #222;
  margin-top: 24px;
}
.photo-list-wrap .content-wrap p:first-child {
  margin-top: 0;
}
.photo-list-wrap .content-wrap .img-wrap {
  width: 100%;
  height: 188px;
  border-radius: 4px;
  background-color: #d8d8d8;
  margin-top: 16px;
}

/* selfStep03_02 */
.photo-info-wrap .content-wrap {
  padding: 20px;
}
.photo-info-wrap .content-wrap h4 {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-top: 40px;
}
.photo-info-wrap .content-wrap h4:first-child {
  margin-top: 0;
}
.photo-info-wrap .content-wrap p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #222;
  text-indent: -8px;
  padding-left: 8px;
  margin-top: 8px;
}
.photo-info-wrap .content-wrap p:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #aaa;
  margin: 0 5px 3px 0;
}
.photo-info-wrap .content-wrap p.pic {
  padding-left: 0;
  text-indent: 0;
}
.photo-info-wrap .content-wrap p.pic:before {
  display: none;
}
.photo-info-wrap .content-wrap p + .img-wrap {
  margin-top: 20px;
}
.photo-info-wrap .content-wrap p + .img-tx-wrap li:nth-child(-n + 2) {
  margin-top: 10px;
}
.photo-info-wrap .content-wrap > .img-wrap {
  width: 100%;
  height: 101px;
  border-radius: 4px;
  background-color: #aaa;
  margin: 16px 0;
}
.photo-info-wrap .app-down {
  margin-top: 16px;
}
.photo-info-wrap .img-tx-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.photo-info-wrap .img-tx-wrap li {
  position: relative;
  float: left;
  width: 48%;
  margin: 14px 4% 0 0;
}
.photo-info-wrap .img-tx-wrap li:nth-child(2n) {
  margin-right: 0;
}
.photo-info-wrap .img-tx-wrap li > i {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 25px;
  height: 25px;
}
.photo-info-wrap .img-tx-wrap li > i.ico-close-line {
  background: url(/images/mobile/ico/ico-circle-close.png) 0 0 no-repeat;
  background-size: auto 25px;
}
.photo-info-wrap .img-tx-wrap li > i.ico-chk-line {
  background: url(/images/mobile/ico/ico-circle-check.png) 0 0 no-repeat;
  background-size: auto 25px;
}
.photo-info-wrap .img-tx-wrap li .img-wrap {
  width: 100%;
  border-radius: 4px;
  background-color: #aaa;
}
.photo-info-wrap .img-tx-wrap li [class*='tx-'] {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  word-break: keep-all;
}
.photo-info-wrap .img-tx-wrap li [class*='tx-']:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin: 8px 0 2px;
}
.photo-info-wrap .img-tx-wrap li .tx-bad:before {
  background-color: #cc0000;
}
.photo-info-wrap .img-tx-wrap li .tx-good:before {
  background-color: #00a300;
}
.photo-info-wrap .img-tx-wrap li .tx-bad {
  color: #cc0000;
}
.photo-info-wrap .img-tx-wrap li .tx-good {
  color: #00a300;
}
.photo-info-wrap .img-tx-wrap.table {
  display: table;
  margin-top: 16px;
}
.photo-info-wrap .img-tx-wrap.table li {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.photo-info-wrap .img-tx-wrap.table li .tx {
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  padding-left: 16px;
  display: block;
}

/* 공통 */
/* img-upload-wrap */
.img-upload-wrap {
  padding: 0 20px 20px;
} /* 있던 css가 사라져서 다시 추가 - 차량사진 등록 팝업에 필요 */
.img-upload-wrap h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #222;
}
.img-upload-wrap h4 + p {
  display: inline-block;
  font-size: 12px;
  color: #777;
  margin-left: 4px;
}
.img-upload-wrap .info {
  color: #777;
  line-height: 1.4;
  margin-top: 7px;
}
.img-upload-wrap ul:after {
  content: '';
  display: block;
  clear: both;
}
.img-upload-wrap ul li {
  position: relative;
  float: left;
  width: 31%;
  text-align: center;
  margin-right: 3.5%;
  margin-top: 16px;
}
.img-upload-wrap ul li:nth-child(3n) {
  margin-right: 0;
}
.img-upload-wrap ul li span {
  display: block;
  font-size: 14px;
  color: #222;
  margin-top: 8px;
}
.img-upload-wrap .img-item {
  height: 77px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background: url(/images/mobile/ico/ico-app-plus.png) no-repeat center;
}

/* 대표 사진 등록 썸네일 */
.img-upload-wrap li.item-1 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-01.png) 50% 50% no-repeat;
  background-size: auto 40px;
}
.img-upload-wrap li.item-2 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-02.png) 50% 50% no-repeat;
  background-size: auto 41px;
}
.img-upload-wrap li.item-3 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-03.png) 50% 50% no-repeat;
  background-size: auto 31px;
}
.img-upload-wrap li.item-4 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-04.png) 50% 50% no-repeat;
  background-size: auto 31px;
}
.img-upload-wrap li.item-5 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-05.png) 50% 50% no-repeat;
  background-size: auto 45px;
}

/* 상세 사진 등록 썸네일 */
.img-upload-wrap li.item-6 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-06.png) 50% 50% no-repeat;
  background-size: auto 45px;
}
.img-upload-wrap li.item-7 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-07.png) 50% 50% no-repeat;
  background-size: auto 36px;
}
.img-upload-wrap li.item-12 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-12.png) 50% 50% no-repeat;
  background-size: auto 28px;
}
.img-upload-wrap li.item-13 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-13.png) 50% 50% no-repeat;
  background-size: auto 36px;
}
.img-upload-wrap li.item-14 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-14.png) 50% 50% no-repeat;
  background-size: auto 31px;
}
.img-upload-wrap li.item-15 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-15.png) 50% 50% no-repeat;
  background-size: auto 55px;
}
.img-upload-wrap li.item-16 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-17.png) 50% 50% no-repeat;
  background-size: auto 38px;
}
.img-upload-wrap li.item-17 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-16.png) 50% 50% no-repeat;
  background-size: auto 30px;
}
.img-upload-wrap li.item-18 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-18.png) 50% 50% no-repeat;
  background-size: auto 28px;
}
.img-upload-wrap li.item-19 .img-item,
.img-upload-wrap li.item-20 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-19.png) 50% 50% no-repeat;
  background-size: auto 46px;
}
.img-upload-wrap li.item-360 .img-item {
  background: url(/images/mobile/contents/pic-app/icon-360.png) 50% 50% no-repeat;
  background-size: auto 44px;
}

.img-upload-wrap .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  opacity: 0;
}
.img-upload-wrap .img-hover a {
  display: block;
  width: 100%;
  height: 100%;
}
.img-upload-wrap .img-dim {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 77px;
}
.img-upload-wrap .img-dim i {
  position: absolute;
  top: 4px;
  right: 4px;
}
.img-upload-wrap .img-upload .img-hover input[type='file'],
.img-upload-wrap .img-upload .img-dim input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: gold;
  opacity: 0;
  cursor: pointer;
}
.img-upload-wrap .img-upload.detail {
  margin-top: 48px;
}

.img-upload-wrap .img-upload.basic ul li:nth-child(-n + 3) {
  margin-top: 0;
}

.accident-history-cont.dealer-photo ul.car-photo li {
  height: auto;
}
.accident-history-cont.dealer-photo .img-wrap {
  position: relative;
}
.accident-history-cont.dealer-photo .img-item {
  height: 26vw;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background: url(/images/mobile/ico/ico-app-plus.png) no-repeat center;
}
.accident-history-cont.dealer-photo .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.accident-history-cont.dealer-photo input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: gold;
  opacity: 0;
  cursor: pointer;
}
.accident-history-cont.dealer-photo .img-dim {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.accident-history-cont.dealer-photo .img-dim i {
  position: absolute;
  top: 4px;
  right: 4px;
}

/* goods-wrap */
.goods-wrap {
  padding-top: 32px;
}
.goods-wrap h4 {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-bottom: 17px;
}

@media screen and (max-width: 320px) {
  .img-upload-wrap ul li span {
    font-size: 12px;
  }
}
